.App {
  background-color: white;
}

.Auth-form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Auth-form-container-ss {
  padding: 1em;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

.Auth-form-title-ss {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.change-auth-mode {
  position: fixed;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 0.25em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.email-password {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-70%);
  width: 90vw;  
}

.submit-button {
  width: 100%;
  color: white;
  background-color: rgb(81, 159, 248);
  border: 0;
  border-radius: 0.5em;
  padding: 0.5em;
  margin-block: 0.5em;
}

.no-account-continue {
  background-color: greenyellow;
  border-radius: 0.5em;
  padding: 0.5em;
  border: 0;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .Auth-form {
    width: 350px;
  }
}