@import url('../../DarkMode.css');

.description_container {
    border-radius: 1em;
    border: var(--border);
    padding: 2%;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 3%;
    box-shadow: var(--box-shadow);
}

#description_name {
    font-size: 24px;
}

#description_content {
    margin-block: 0.5em;
}

#description_creator {
    color: var(--sub-text-color);
}

